<nav class="top-nav light-blue darken-1">
  <div class="container">
    <div class="nav-wrapper">
      <a class="page-title">Deep Link Feed</a>
    </div>
  </div>
</nav>
<ul id="messages" class="container"></ul>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<style>
  nav.top-nav {
    height: 122px;
  }
  .page-title {
    line-height: 122px;
    font-size: 48px;
  }
  li div {
    padding: 10px;
    color: white;
    font-size: 21px;
  }
  li h5 {
    font-size: 12px;
  }
</style>