# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/spec/examples.txt
/log/*.log
/tmp

vendor/ruby
.idea
*.iml

dump.rdb
node_modules
/public/uploads/*
/coverage

/vendor/bundle
/cache
/doc
